* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Ubuntu', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding: 23px 0;
    padding-bottom: 21px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--main {
    background-color: #fff;
}

.header__nav {
    margin-left: -112px;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__link {
    color: #424551;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    cursor: pointer;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-contacts__link:not(:last-child) {
    margin-right: 35px;
}

.contacts-link {
    padding-left: 53px;
    background-position: left center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.contacts-link__caption {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}

.contacts-link__value {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
}

.contacts-link--call {
    background-image: url('../images/callus.svg');
}

.contacts-link--mail {
    background-image: url('../images/talktous.svg');
}

.hero {
    background-image: url('../images/bg-image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #424551;
    padding-top: 220px;
    padding-bottom: 354px;
}

.hero__content {
    max-width: 590px;
}


.main-title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main-description {
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 60px;
}

span {
    color: #FF5A30;
}

.btn-reset:not(:last-child) {
    margin-right: 24px;
}

.btn-reset.btn--stroke {
    border: 1px solid #fff;
    padding: 15px 39px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn-reset.btn--fill {
    border: 1px solid #FF5A30;
    background: #FF5A30;
    padding: 15px 39px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
 
.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.about {
    margin-top: 120px;
    margin-bottom: 180px;
    background-color: #fff;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #1E212C;
    margin-bottom: 25px;
}

.about__title {
    margin-bottom: 25px;
}

.description {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 150%;
    color: #787A80;
    text-align: center;
    margin-bottom: 60px;
}

.about__description {
    margin-bottom: 60px;
}

.about__video-block {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 500px;
}

.about__video-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #1e212c;
    opacity: .6;
}

.about__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__video-btn--play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FF5A30;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.btn-reset.about__video-btn--play img {
    width: 26px;
    height: 26px;
    margin-left: 7px;
    margin-top: 3px;
}

.about__video-btn--muted {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 32px;
    bottom: 32px;
    background-color: rgba(255, 255,255, 0.12);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 10;
}

.btn-reset.about__video-btn--muted img {
    width: 20px;
    height: 20px;
}

.mission {
    background-color: #fff;
}

.mission__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 188px;
    margin-bottom: 27px;
}

.mission__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    padding-top: 71px;
}

.mission__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -94px;
    top: 0;
    width: 1px;
    height: 100%;
    background-image: url('../images/divider.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission__subtitle {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 10px;
    text-align: center;
}

.mission__description {
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    text-align: center;
}

.mission__item--quality {
    background-image: url('../images/quality.svg');
}

.mission__item--safety {
    background-image: url('../images/safety.svg');
}

.mission__item--comfort {
    background-image: url('../images/comfort.svg');
}

.mission__form {
    position: relative;
    top: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 60px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
                0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
                0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
                0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.mission__form-content {
    display: flex;
    align-items: flex-end;
}

.mission__form-title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 33px;
}

.mission__form-field {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.form-field--caption {
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 8px;
}

.form__input {
    background: #f4f5f7;
    border: 1px solid #d7dadd;
    outline: none;
    border-radius: 4px;
    width: 260px;
    height: 44px;
}

.form__input::placeholder {
    color: #9a9ca5;
    padding-left: 15px;
}

.form__input.form__input-big {
    width: 414px;
    height: 44px;
}

.btn-reset.btn--fill.btn-form {
    padding: 11px 29px;
}

.services {
    padding-top: 212px;
    padding-bottom: 80px;
    background-image: url('../images/bg-services.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}

.services-item {
    padding: 0 10px;
    padding-top: 87px;
    padding-bottom: 90px;
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #e5e8ed;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
                0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
                0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
                0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.services-item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-image: url('../images/services-img-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(30, 33, 44, 0.6);
}

.services-item:hover::before {
    opacity: 1;
}

.services-item:hover::after {
    opacity: 1;
}

.services-item:hover .services-item-title {
    color: #fff;
}


.services-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}


.services-item-icon {
    margin-bottom: 23px;
    width: 52px;
    height: 52px;
    transition: fill 0.3s ease-in-out;
}

.services-item-title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.services__learn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.servieces__learn-subtitle {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1e212c;
    margin-right: 40px;
}

.portfolio__section {
    background-color: #fff;
    padding: 120px 0;
}

.portfolio__section-title {
    max-width: 710px;
    text-align: left;
    padding-bottom: 12px;
}

.portfolio__section-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
}

.slider-nav {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    transform: translateX(-12px);
}

.slider-nav__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    color: #424551;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-style: none;
    cursor: pointer;
}

.slider__btn {
    background-color: #fff;
}

.slider-nav__btn:hover {
    color: #fff;
    background-color: #ff5a30;
}

.portfolio__section-items {
    margin: -100px;
    padding: 100px;
}

.swiper-slide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.slider-visible {
    opacity: 1;
    visibility: visible;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
                0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
                0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
                0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.portfolio-item__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
    padding-top: 16px;
    padding-bottom: 23px;
}

.portfolio__item-title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
    margin-bottom: 5px;
}

.porfolio__item-description {
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #787A80;
}

.btn-reset.portfolio__item-btn {
    display: none;
    margin-top: 24px;
    font-weight: 700;
    font-size: 14px;
    padding: 13px 31px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FF5A30;
    border: 1px solid #FF5A30;
    border-radius: 4px; 
}

.slider-nav__btn.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
} 

.portfolio__learn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.portfolio__learn-subtitle {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
    margin-right: 40px;
}

.partners {
    padding: 80px 0;
    background-color: #f4f5f7;
}

.partners__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #1E212C;
    margin-bottom: 60px;
}

.partners__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
}

.pratners__item {
    list-style: none;
}


.estimate {
    padding-top: 97px;
    background-color: #f4f5f7;
}

.estimate__container {
    display: flex;
    justify-content: space-between;
}

.estimate__content {
    max-width: 600px;
}

.estimate__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    align-items: center;
    color: #1E212C;
    margin-bottom: 60px;
}

.estimate-item__image {
    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin-bottom: 35px;
}

.estimate-item__image img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.estimate-item__text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 25px;
}

.estimate-item__author {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    margin-bottom: 4px;
    padding-right: 110px;
}

.estiamte-item__author-position {
    display: block;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    padding-right: 110px;
}

.estimate__section-items {
    position: relative;
    padding-bottom: 12px;
}

.estiamte__slider-nav {
    position: absolute;
    right: -12px;
    bottom: 0;
}

.swiper-slide {
    opacity: 1;
    visibility: visible;
}

.estimate__image {
    margin-bottom: -60px;
}


.facts {
    padding: 80px 0;
    padding-top: 180px;
    background-image: url('../images/bg-image-facts.png');
    background-repeat: no-repeat;
    background-position: 0% 40%;
}

.facts__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #1E212C;
}

.facts__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    list-style: none;
    max-width: 736px;
    margin: 0 auto;
    padding-top: 60px;
}

.facts-element {
    text-align: center;
}

.facts-element__circle {
    position: relative;
    padding-bottom: 20px;
}

.facts-element__value {
    position: absolute;
    top: 30%;
    right: -5px;
    left: -1px;
    bottom: 0;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
}

.facts-element__text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
}


.facts-element__circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.facts-element__circle svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.facts-element__circle svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.facts__item:nth-child(1) .facts-element__circle svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 87) / 100);
    stroke: #f89828;
    transform: rotate(-90deg) translate(5px, 5px);
    transform-origin: center;
}

.facts-element__circle svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.facts__item:nth-child(2) .facts-element__circle svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: #f52f6e;
    transform: rotate(-90deg) translate(5px, 5px);
    transform-origin: center;
}

.facts-element__circle svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.facts__item:nth-child(3) .facts-element__circle svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 82) / 100);
    stroke: #5a87fc;
    transform: rotate(-90deg) translate(5px, 5px);
    transform-origin: center;
}

.facts-element__circle svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.facts__item:nth-child(4) .facts-element__circle svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke:  #03cea4;
    transform: rotate(-90deg) translate(5px, 5px);
    transform-origin: center;
}
